name: Python Publish

on:
  workflow_dispatch: # for debug
  push:
    branches: [main]
    tags:
      - v*.*.*

permissions: read-all

jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.ref_name != 'main' }}
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: Create Release
        id: create_release
        uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Setup python environment
        uses: ./.github/actions/python-setup

      - name: Build package
        id: build
        run: |
          poetry run sbom
          poetry build
          echo "::set-output name=package_tar::`ls dist/ | grep .tar.gz`"
          echo "::set-output name=package_whl::`ls dist/ | grep .whl`"

      - name: Upload package to artifact
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
        with:
          name: package
          path: dist/

      - name: Upload package to release asset
        uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist/${{ steps.build.outputs.package_tar }}
          asset_name: ${{ steps.build.outputs.package_tar }}
          asset_content_type: application/zip

      - name: Upload package to release asset
        uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist/${{ steps.build.outputs.package_whl }}
          asset_name: ${{ steps.build.outputs.package_whl }}
          asset_content_type: application/zip

  # pages:
  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: write
  #     pages: write
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

  #     - name: Setup python environment
  #       uses: ./.github/actions/python-setup

  #     - name: Generate sphinx
  #       run: poetry run sphinx

  #     - name: Publish API document to GitHub pages
  #       uses: crazy-max/ghaction-github-pages@c0d7ff0487ee0415efb7f32dab10ea880330b1dd
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       with:
  #         target_branch: gh-pages
  #         build_dir: public/
